body {
	background-color: gray;
	font-family: Verdana, Arial, sans-serif;
	color: #000000;
	text-align: center;
	
}

h1 {
	font-family: Verdana, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #444543;
	font-size: 50px;
}

h3{
	color: #FFFFFF;
}

a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 22px;
}

img {
	border: 1px solid white; 
	border-radius: 50px;

}


#contact ul {
       margin-right: auto;
       margin-left: auto;
   }

 #contact ul li {
      float: center;
      background-color: #333;
      color: #fff;
      padding: 15px;
      margin: 10px;
     }

